$device: (
  'desctop': 1200px,
  'tablet': 1023px,
  'mobile': 767px
);

$maket: (
  'desctop': 1360,
  'tablet': 768,
  'mobile': 320,
);

@mixin desctop() {
  @media only screen and (min-width: map-get($device, 'desctop')) {
    @content;
  }
}

@mixin tablet() {
  //@media only screen and (min-width: map-get($device, 'mobile')) and (max-width: map-get($device, 'desctop')) {
  @media only screen and (max-width: map-get($device, 'desctop')) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: map-get($device, 'mobile')) {
    @content;
  }
}

@function maket($name) {
  @if map-has-key($maket, $name) {
    $size: map-get($maket, $name);

    @return calc(100vw / #{$size} * 10);
  }

  @warn "Not has endpoint: " + $name + " in $maket map";

  @return null;
}
