/**
 * Миксин предназначеный для эмулирования `display: grid`
 * @param  {number}                   $col     Количество колонок
 * @param  {number ? px, rem, em...}  $gutter  Растояние между блоками
 * @param  {number}                   $row     Количество строк
 */
@mixin grid($col, $gutter: 0, $row: 1) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  @if ($col == 1 and $row > 1) {
    flex-direction: column;
  }

  @if ($row > 1) {
    flex-wrap: wrap;

    & > * {
      margin-top: #{$gutter};

      &:nth-of-type(-n+#{$col}) {
        margin-top: 0;
      }
    }
  }

  @else {
    flex-wrap: no-wrap;
  }

  & > * {
    @if ($col > 1) {
      width: calc(100% / #{$col} - #{$gutter * ( $col - 1 ) / $col});
    }

    margin-right: $gutter;

    &:nth-of-type(#{$col}n) {
      margin-right: 0;
    }
  }
}
