.footer {
  background-color: color('darkgray');
  padding: 6rem 0 7rem 11.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  @include tablet {
    padding: 5rem 7rem;
    flex-wrap: wrap;
  }

  @include mobile {
    padding: 4rem 2rem;
  }

  &__left {
    flex-shrink: 0;

    @include tablet {
      width: 100%;
    }
  }

  &__right {
    width: 36rem;

    @include tablet {
      margin-top: 3rem;
      width: 100%;
    }
  }

  &__footer-nav {
    margin-bottom: 2rem;
  }
}

.footer-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.3rem;

  @include mobile {
    flex-direction: column;
    padding-left: 6.5rem;
  }

  &__item {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    line-height: 2rem;
    color: color('white');
    margin-right: 4rem;

    @include mobile {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }

  &__icon {
    margin-right: 1.1rem;

    svg {
      width: 1.1rem;
    }

    &_small svg {
      width: 0.8rem;
    }
  }

  &__text {
    text-decoration: none;
    color: color('white');
  }
}
