.about-us {
  position: relative;
  background-color: color('white');
  padding: 9rem 25rem;
  overflow: hidden;

  @include tablet {
    padding: 5rem 7rem 
  }

  @include mobile {
    padding: 3rem 2rem;
  }

  &__content {
    position: relative;
    z-index: 3;
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 4rem;
    color: color('dark');


    @include tablet {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }

  &__desc {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-bottom: 2.5rem;
    color: rgba(color('black'), 0.5);


    @include tablet {
      font-size: 1rem;
    }
  }

  &__dots {
    margin: 0 auto 5.5rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    color: color('primary');
    background-color: currentColor;
    box-shadow: 1rem 0 currentColor, -1rem 0 currentColor;

    @include tablet {
      margin-bottom: 3.5rem;      
    }
  }

  &__service-list {
    margin: 0 3rem;
  }

  &__circle {
    z-index: 1;
    position: absolute;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    background-color: #e3fff5;
    animation: ABOUT_US_CIRCLE 15s infinite linear;
    animation-direction: alternate;

    @include mobile {
      display: none;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      bottom: 50%;
      right: 50%;
      transform: translateX(50%) translateY(50%);
      width: 32rem;
      height: 32rem;
      border-radius: 50%;
      border: 1.5rem solid #e3fff5;
      animation: ABOUT_US_CIRCLE1 5s infinite linear;
    }

    &::before {
      animation-delay: 2s;
    }

    &--right {
      animation: ABOUT_US_CIRCLE_RIGHT 15s infinite linear;
      animation-direction: alternate;
    }
  }
}

@keyframes ABOUT_US_CIRCLE {
  0% {
    top: calc(50% - 20rem);
    left: -10rem;
  }

  50% {
    top: calc(50% - 10rem);
    left: -4rem;
  }

  100% {
    top: 80%;
    left: 2rem;
  }
}

@keyframes ABOUT_US_CIRCLE_RIGHT {
  0% {
    bottom: 100%;
    right: -20rem;
  }

  50% {
    bottom: 50%;
    right: -5rem;
  }

  100% {
    bottom: 30%;
    right: 5rem;
  }
}

@keyframes ABOUT_US_CIRCLE1 {
  0% {
    height: 22rem;
    width: 22rem;
    border-width: 0;
    opacity: 1;
  }

  35% {
    height: 32rem;
    width: 32rem;
    border-width: 1.5rem;
    opacity: 1;
  }

  80% {
    height: 47rem;
    width: 47rem;
    border-width: 0.5rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    height: 50rem;
    width: 50rem;
    border-width: 0;
  }
}
