.blog-section {
  overflow: hidden;
  position: relative;
  padding: 14rem 0 5rem;
  text-align: center;

  @include tablet {
    padding: 5rem 7rem;
    background-color: #F4F4F4;
  }

  @include mobile {
    padding: 4rem 2rem;
  }

  &__title {
    font-size: 3rem;
    line-height: 4.3rem;
    text-align: center;
    margin-bottom: 3rem;

    @include tablet {
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 2rem;
    }
  }

  &__content {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 8rem;
    transition: all 1s ease-out;

    @include tablet {
      margin-top: 2rem;
      padding: 0 4rem;
    }

    @include mobile {
      padding: 0;
    }
  }

  &__more {
    margin: 5rem auto 0;
    color: color('black');
    font-size: 1.4rem;

    @include tablet {
      margin: 3rem auto 0;
      font-size: 1rem;
    }
  }

  &__blog-item {
    margin: 0 3rem 0 0;
    width: 28rem;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.25);

    @include mobile {
      width: 22rem;
    }
  }

  &__bg {
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
	// height: calc(100% + 4rem);
  	height: auto;
    z-index: -1;
    
    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }

    path {
      fill: #f4f4f4;
      animation: ANIMATION_BLOG_BG 10s infinite;
      animation-direction: alternate;
    }
  }
}

@keyframes ANIMATION_BLOG_BG {
  0% {
    d: path('M -6 19.115 C -6 19.115 245.75 -27.3192 472.5 28.9016 C 699.25 85.1224 1360 110.286 1360 110.286 L 1363 802.058 C 1363 802.058 805.5 876.678 472.5 802.058 C 139.5 727.438 -6 802.058 -6 802.058 L -6 19.115 Z');
  }

  100% {
    d: path('M -6 19.115 C -6 19.115 834.5 -13.5692 1080 13.9016 C 1325.5 41.3724 1360 110.286 1360 110.286 L 1363 802.058 C 1363 802.058 1196.75 759.178 995 813.308 C 793.25 867.438 -6 802.058 -6 802.058 L -6 19.115 Z');
  }
}
