.calc-section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background: linear-gradient(0deg, #F3F3F3 68.24%, rgba(243, 243, 243, 0) 100%);

	@include tablet {
		display: none;
    }

    @include mobile {
    	display: none;
    }
	
	& > * {
		flex-basis: 100%;
		width: 100%;
	}
	
	&__title {
		padding: 7.1rem 2rem 8rem;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		line-height: 4.3rem;
		font-size: 3rem;
		color: color('dark');
		position: relative;

		&:after {
			position: absolute;
			top: calc(100% - 5rem);
			left: 50%;
			transform: translateX(-50%);
			content: '';
			background: linear-gradient(93.54deg, #c4c4c4 -2.23%, #c4c4c4 -2.23%, #0fbf9c -2.22%, #38acbd 99.72%);
			width: 6rem;
			height: 0.2rem;
		}
	}
}