.course-list {
	padding: 1rem 6.5rem 5rem;

	@include mobile {
		padding: 0 2rem 5rem;
	}

	&__course {
		width: 100%;
		margin-bottom: 9.5rem;

		@include mobile {
			margin-bottom: 5rem;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
