.course-admin {
  padding: 16rem 15rem 20rem 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    padding: 0 7rem;
    flex-direction: column;
  }

  @include mobile {
    padding-bottom: 2rem;
    overflow: hidden;
  }

  &__title {
    font-size: 3rem;
    line-height: 4.3rem;
    text-align: center;
    max-width: 18rem;

    @include tablet {
      font-size: 2rem;
      line-height: 3rem;
      flex-direction: column;
    }
  }

  &__name {
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-align: center;
    max-width: 28rem;
    margin-bottom: 1.8rem;

    @include tablet {
      font-size: 1.5rem;
      line-height: 2rem;
      flex-direction: column;
    }
  }

  &__list {
    padding: 0;
    margin-top: 1.8rem;

    li {
      list-style: none;
      text-align: center;
      font-size: 1.3rem;
      line-height: 2.3rem;
    }
  }

  &__img-wrap {
    position: relative;

    @include tablet {
      margin: 12rem 0;
    }

    &::before {
      position: absolute;
      content: '';
      bottom: -7rem;
      right: -6.2rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: color('lightgreen');
    }

    &::after {
      position: absolute;
      content: '';
      bottom: -8rem;
      right: -9rem;
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
      background-color: color('lightgreen');
    }
  }

  &__img {
    width: 19.2rem;
    height: 19.2rem;
    border-radius: 50%;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 29.7rem;
      height: 29.7rem;
      border: 1.7rem solid color('lightgreen');
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 40rem;
      height: 40rem;
      border: 0.4rem solid color('lightgreen');
      border-radius: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
