.examples {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 9rem 0 10rem 20rem;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }

  &__title {
    font-size: 3.4rem;
    line-height: 4.9rem;
    max-width: 33.5rem;

    @include tablet {
      font-size: 2rem;
      line-height: 2.9rem;
      margin-bottom: 2rem;
    }

    &::after {
      display: block;
      content: '';
      width: 6rem;
      height: 0.2rem;
      background-color: color('primary');
      margin-top: 2rem;

      @include tablet {
        margin-top: 1rem;
        margin-left: 38%;
      }
    }
  }

  &__examples-gallery {
    flex-shrink: 0;
    overflow: hidden;
    width: 82.5rem;

    @include tablet {
      width: 100%;
    }
  }
}
