.how-works {
  padding: 5rem 12rem;
  position: relative;

  @include tablet {
    padding: 5rem 3rem;
  }

  @include mobile {
    padding: 4rem 2rem;
  }

  &__title {
    font-size: 3rem;
    line-height: 4.3rem;
    text-align: center;
    margin-bottom: 8rem;

    @include tablet {
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include tablet {
      justify-content: center;
    }
  }

  &__works-card {
    color: color('white');
    position: relative;

    @include desctop {
      &:nth-of-type(n+4) {
        margin-top: 22rem;
        width: calc(100% / 2 - 50rem / 2);
      }

      &:nth-of-type(2) {
        margin-left: 7.9rem;
        margin-right: 7.9rem;
      }

      &:nth-of-type(2n+4) {
        margin-right: 4.9rem;
        margin-left: 17.4rem;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: calc(100% + 7rem);
          height: 0.2rem;
          top: 1.5rem;
          right: -7rem;
          background-image: url(../images/works_line.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom right;
        }
      }

      &:nth-of-type(-n+2) {
        &::after {
          content: '';
          position: absolute;
          width: calc(100% + 5rem);
          height: 0.2rem;
          top: 1.5rem;
          right: -5rem;
          background-image: url(../images/works_line.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom right;
        }
      }

      &:nth-of-type(3) {
        &::after {
          content: '';
          position: absolute;
          top: calc(100% + 1.5rem);
          right: 50%;
          width: 90rem;
          height: 22rem;
          background-image: url(../images/works_longline.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom;
        }
      }

      &:nth-of-type(2n+5) {
        margin-left: 4.9rem;

        &::after {
          content: '';
          position: absolute;
          top: calc(100% + 1.5rem);
          right: 50%;
          width: 63rem;
          height: 22rem;
          background-image: url(../images/works_longline.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom;
        }
      }

      &:nth-of-type(-n+3) {
        width: calc(100% / 3 - 16rem / 3);
      }

      &:nth-last-of-type(1) {
        &::after {
          display: none;
        }
      }
    }
    
    @include tablet {
      width: calc(100% / 2 - 10rem / 2);
      margin-top: 4rem;

      &:nth-of-type(2n+1) {
        margin-right: 4rem;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @include mobile {
      width: 100%;
      margin-top: 4rem;

      &:nth-of-type(2n+1) {
        margin-right: 0;
      }
    }
  }
}
