.post-page {
  padding: 2.4rem 8rem 8.8rem;

  @include tablet {
    padding: 2rem 2rem;
  }

  &__back {
    font-size: 1.3rem;
    line-height: 2.9rem;
    color: color('primary');
    margin-left: 1.7rem;
    position: relative;

    &::before {
      line-height: 0;
      position: absolute;
      content: '<';
      top: 50%;
      transform: translateY(-50%);
      left: -1.6rem;
    }
  }

  &__date {
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 2.2rem;
    font-weight: 300;
    color: lighten(color('darkgray'), 50%);

    @include mobile {
      margin: 2rem 0;
    }
  }

  &__content {
    margin-top: 3.7rem;
    display: flex;
    flex-direction: row;
  
    @include tablet {
      flex-direction: column; 
    }

  &__title {
    font-size: 3rem;
    line-height: 4.3rem;

    @include tablet {
      font-size: 2rem;
    }

    @include mobile {
      font-size: 1.4rem;
    }
  }
}
}
