.price {
  padding: 10rem 38rem 6rem;

  @include tablet {
    padding: 5rem 0rem 5rem;
  }

   @include mobile {
    padding: 2rem 0 0;
   } 

  &__title {
    font-size: 3rem;
    line-height: 4.3rem;
    margin-bottom: 3.7rem;

    @include tablet {
      font-size: 2rem;
      text-align: center;
    }

    @include mobile {
      font-size: 1.4rem;
      line-height: 2rem;
      margin-bottom: 2rem
    }
  }

  &__list-title {
    font-size: 1.4rem;
    line-height: 2.3rem;
    font-weight: 300;
    text-align: center;

    @include mobile {
      font-size: 1.1rem;
      line-height: 2.3rem;;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6rem;

    @include tablet {
      justify-content: space-around;
      margin-top: 6rem;
      padding: 0 6rem;
    }

    @include mobile {
      flex-direction: column;
      justify-content: space-around;
      margin: 2rem auto;
    }

    .option {

      @include mobile {
        padding: 1rem;
      }

      &__text {

        @include mobile {
          font-size: 1rem;
          margin-bottom: 0.5rem;
          font-weight: 500;
          text-align: center;
        }
      }

      &:first-child {
        @include mobile {
          margin-bottom: 1.8rem;
        }
      }

      &__price {
        @include mobile {
          font-size:1.4rem;
          text-align: center;          
        }
      }
    }
  }

  &__list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    line-height: 2.3rem;
    font-weight: 300;

    li::before {
      content: '- ';
    }
  }

  &__btn {
    margin: 6rem auto 0;
    text-align: center;

    @include mobile {
      margin: 3rem auto;
    }
  }
}