.process {
  padding: 10rem 20rem;
  background-image: url(../images/bg_process.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    padding: 5rem 0 5rem 10rem;
    counter-reset: section;
  }

  @include mobile {
    padding: 2rem 0 2rem 0;    
  }

  &__title {
    color: color('white');
    font-size: 3rem;
    line-height: 4.3rem;
    margin-bottom: 11rem;
    text-align: center;

    @include tablet {
      margin: 3rem 0 5rem -10rem;
      font-size: 2rem;
    }

    @include mobile {
      margin: 0 auto;
      font-size: 1.4rem;      
    }
  }

  &__item {
    font-size: 1.4rem;
    line-height: 2.3rem;
    width: 40rem;
    color: color('white');
    position: relative;
    margin-bottom: 19rem;

    @include tablet {
      font-size: 1.1rem;
      width: 25rem;
      margin:0 2rem 3rem 3rem;
      display: inline-block;
      vertical-align: top;
    }

    @include mobile {
      font-size: 1.1rem;
      width: 25rem;
      margin: 1rem auto;
      display: block;      
    }

    &:last-child {
      margin-bottom: 0;

      &::before {    
        @include tablet {
          position: absolute;
          counter-increment: section;
          content: "" counter(section) ". ";
          color: color('white');
          background-image: url();
          background-size: cover;
          width: 2.7rem;
          height: 5.1rem;
          top: 0;
          left: -1.5rem; 
        }
      }
    }

    &:nth-child(even) {
      margin-left: auto;
    }

    &:nth-child(2) {
      &::before {
        position: absolute;
        content: '';
        background-image: url(../images/line1.png);
        background-size: cover;
        width: 22.7rem;
        height: 25.1rem;
        top: 0;
        left: -26rem;

        @include tablet {
          position: absolute;
          counter-increment: section;
          content: "" counter(section) ". ";
          color: color('white');
          background-image: url();
          background-size: cover;
          width: 2.7rem;
          height: 5.1rem;
          top: 0;
          left: -1.5rem;
        }
      }
    }

    &:nth-child(3) {
      &::before {
        position: absolute;
        content: '';
        background-image: url(../images/line2.png);
        background-size: cover;
        width: 22rem;
        height: 13rem;
        top: 14rem;
        left: 30rem;

        @include tablet {
          position: absolute;
          counter-increment: section;
          content: "" counter(section) ". ";
          color: color('white');
          background-image: url();
          background-size: cover;
          width: 2.7rem;
          height: 5.1rem;
          top: 0;
          left: -1.5rem;
        }
      }
    }

    &:nth-child(4) {
      &::before {
        position: absolute;
        content: '';
        background-image: url(../images/line3.png);
        background-size: cover;
        width: 23.9rem;
        height: 16.3rem;
        top: 12rem;
        left: -13rem;

        @include tablet {
          position: absolute;
          counter-increment: section;
          content: "" counter(section) ". ";
          color: color('white');
          background-image: url();
          background-size: cover;
          width: 2.7rem;
          height: 5.1rem;
          top: 0;
          left: -1.5rem;
        }
      }
    }
  }
}
