.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8.3rem 17rem 13rem 11.2rem;

  @include tablet {
    padding: 5rem 7rem 5rem 7rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  @include mobile {
    padding: 4rem 2rem;
    overflow: hidden;
  }

  &__form {
    max-width: 40rem;
  }

  &__title {
    font-size: 3.4rem;
    line-height: 4.9rem;
    margin-bottom: 2rem;

    @include tablet {
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 1rem;
    }
  }

  &__desc {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 3rem;

    strong {
      font-weight: 700;
    }

    @include tablet {
      font-size: 1.1rem;
    }
  }

  &__map {
    border-radius: 50%;
    position: relative;
    width: 40rem;
    height: 40rem;

    @include mobile {
      width: 30rem;
      height: 30rem;
    }

    & > div {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 100%;
      overflow: hidden;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      z-index: -2;
      bottom: 50%;
      right: 50%;
      transform: translateX(50%) translateY(50%);
      border-radius: 50%;
      border-color: color('lightgreen');
      border-style: solid;
      animation: MAP_CIRCLE 5s infinite linear;
    }

    &::before {
      animation-delay: 3s;
    }
  }
}

@keyframes MAP_CIRCLE {
  0% {
    height: 40rem;
    width: 40rem;
    border-width: 0;
    opacity: 0;
  }

  5% {
    height: 40rem;
    width: 40rem;
    border-width: 1.5rem;
    opacity: 0.5;
  }

  15% {
    height: 44rem;
    width: 44rem;
    border-width: 1.75rem;
    opacity: 1;
  }

  80% {
    height: 60rem;
    width: 60rem;
    border-width: 0.5rem;
    opacity: 1;
  }

  100% {
    height: 68rem;
    width: 68rem;
    border-width: 0;
    opacity: 0;
  }
}
