.reason {
  padding: 7.5rem 6rem 7.5rem 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include tablet {
    padding: 0 6rem 5rem 8rem;
    flex-direction: column;
    margin: 0 auto;
  }

  @include mobile {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include tablet {
      margin-bottom: 3rem;
    }

    @include mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 90%;
      margin: 0 auto 2rem auto;
    }

    svg {
      width: 4.4rem;
      height: 7.4rem;
    }
  }

  &__text {
    margin-left: 2rem;
  }

  &__title {
    font-size: 3rem;
    line-height: 4.3rem;
    margin-bottom: 1.8rem;
    
    @include tablet {
      font-size: 2rem;
      line-height: 4.3rem;
      margin-bottom: 1.8rem;
    }

    @include mobile {
      font-size: 1.4rem;
      line-height: 3rem;
      margin-bottom: 0.5rem;
    }

  } 

  &__desc {
    font-size: 1.3rem;
    line-height: 2.3rem;

    @include tablet {
      font-size: 1.3rem;
      line-height: 2.3rem;
    }

    @include mobile {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }

  

  &__list {
    max-width: 64rem;
    margin: 0 0 0 auto;
  }

  &__item {
    font-size: 1.4rem;
    line-height: 2.3rem;
    list-style-type: none;
    position: relative;
    margin-bottom: 1.5rem;

    @include tablet {
      margin-bottom: 1.5rem;
      font-size: 1.1rem;
    }

    @include mobile {
      font-size: 1.1rem;
      line-height: 2.3rem;
      margin-bottom: 1.5rem;
    }    

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: -1.4rem;
      top: 0.8rem;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background: linear-gradient(90deg, color('primary'), color('secondary'));
    }
  }
}

