.recomend {
  padding: 9rem 10rem;

  @include tablet {
    padding: 9rem 6rem;
  }

  @include mobile {
    padding: 3rem 1rem;
  }

  &__title {
    font-size: 3rem;
    line-height: 4.3rem;
    text-align: center;
    margin-bottom: 16rem;

    @include tablet {
      font-size: 2rem;
      margin-bottom: 3rem;
    }

    @include mobile {
      font-size: 1.4rem;
      line-height: 2rem;
      margin-bottom: 3rem;
      width: 90%;
      margin: 0 auto 3rem auto;    
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 32rem;
    min-height: 10rem;
    position: relative;
    font-size: 1.4rem;
    line-height: 2.3rem;
    font-weight: 300;
    margin-bottom: 5rem;

    @include tablet {
      width: 30rem;
      font-size: 1.2rem;
      margin-bottom: -2rem;
    }

    @include mobile {
      width: 90%;
      font-size: 1.1rem;
      line-height: 2.3rem;
      margin: 0 auto;  
    }

    &:first-child {
      @include mobile {
        margin-top: 2rem;
      }
    }

    &:last-child {
      margin-bottom: 0;

      @include tablet {
        margin-top: 30rem;
      }

      @include mobile {
        margin: -4rem auto;
      }
     }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: -1.4rem;
      top: 0.7rem;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background: linear-gradient(90deg, color('primary'), color('secondary'));
    }
  }

  &__img-wrap {
    position: relative;

    @include tablet {
      margin: 0 0 6rem -3.5rem;
    }

    @include mobile {
      order: -1;
      margin: 7rem auto 8rem auto;        
    }

    &::before {
      position: absolute;
      content: '';
      bottom: -7rem;
      right: -6.2rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: color('lightgreen');

      @include tablet {
        bottom: -7rem;
        right: -3rem;
        width: 2.5rem;
        height: 2.5rem;
      }

      @include mobile {
        bottom: -6.5rem;
        right: -3.2rem;
        width: 2rem;
        height: 2rem;        
      }
    }

    &::after {
      position: absolute;
      content: '';
      bottom: -8rem;
      right: -9rem;
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
      background-color: color('lightgreen');

      @include tablet {
        bottom: -9rem;
        right: -4rem;
        width: 1.4rem;
        height: 1.4rem;
      }

      @include mobile {
        bottom: -8rem;
        right: -5rem;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &__img {
    width: 19.2rem;
    height: 19.2rem;
    border-radius: 50%;
    position: relative;
      
    @include tablet {
      width: 10.2rem;
      height: 10.2rem;
    }

    @include mobile {
      width: 10.2rem;
      height: 10.2rem;
    }

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 29.7rem;
      height: 29.7rem;
      border: 1.7rem solid color('lightgreen');
      border-radius: 50%;

      @include tablet {
        width: 17.7rem;
        height: 17.7rem;
      }

      @include mobile {
        width: 17.7rem;
        height: 17.7rem;
      }
    }

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 40rem;
      height: 40rem;
      border: 0.4rem solid color('lightgreen');
      border-radius: 50%;

      @include tablet {
      width: 25rem;
      height: 25rem;
      }

      @include mobile {
        width: 25rem;
        height: 25rem;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}