.sales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(../images/bg_sales.jpg);
  padding: 5rem 8rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: green;
  color: color('white');

  @include tablet {
    flex-direction: column;
    align-items: center;
    padding: 5rem 6rem;
  }

  @include mobile {
    padding: 4rem 2rem;
  }

  &__title {
    font-size: 2.4rem;
    line-height: 3.5rem;
    margin-bottom: 2.4rem;
    color: color('white');

    @include tablet {
      font-size: 2rem;
      line-height: 2.9rem;
      margin-bottom: 1.1rem;
    }

    @include mobile {
      text-align: center;
    }
  }

  &__desc {
    font-size: 1.4rem;
    line-height: 2.3rem;
    font-weight: 300;
    color: color('white');

    @include tablet {
      font-size: 1.2rem;
    }

    @include mobile {
      text-align: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    @include tablet {
      margin-top: 2rem;
      justify-content: space-between;
      width: 100%;
    }

    @include mobile {
      justify-content: center;
    }
  }

  &__sale-card {
    & + & {
      margin-left: 8.7rem;

      @include tablet {
        margin-left: 0;
      }
    }

    @include mobile {
      margin-bottom: 2rem;
    }
  }
}
