.technology {
  background: linear-gradient(93.54deg, #c4c4c4 -2.23%, #c4c4c4 -2.23%, #0fbf9c -2.22%, #38acbd 99.72%);
  background-size: cover;
  padding: 6.7rem 8.1rem 4rem;
  position: relative;
  overflow: hidden;
  color: color('white');

  @include tablet {
    padding: 5rem 10rem 5rem;
  }

  @include mobile {
    padding: 4rem 2rem;
  }

  &__bg-circle {
    position: absolute;
    border-radius: 100%;
    background-color: rgba(color('white'), 0.06);
    animation: ANIMATION_CIRCLE_BG 50s infinite linear;
    animation-direction: alternate;

    @for $i from 1 through 10 {
      &:nth-of-type(#{$i}) {
        animation-delay: -#{2 * $i}s;
      }
    }
  }

  &__title {
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 10rem;

    @include tablet {
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 4rem;
    }

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include desctop {
      & > * {
        margin-top: 16rem;
        margin-left: 10rem;
        z-index: 2;
        position: relative;
        width: calc(100% / 4 - ((10rem * (4 - 1)) / 4));

        &:nth-of-type(-n+4) {
          margin-top: 0;
        }

        &:nth-of-type(4n+1) {
          margin-left: 0;
        }
      }
    }

    @include tablet {
      & > * {
        margin-top: 7rem;
        margin-left: 7rem;
        z-index: 2;
        position: relative;
        width: calc(100% / 2 - ((7rem * (2 - 1)) / 2));

        &:nth-of-type(-n+2) {
          margin-top: 0;
        }

        &:nth-of-type(2n+1) {
          margin-left: 0;
        }
      }
    }

    @include mobile {
      & > * {
        margin-top: 4rem !important;
        margin-left: 0;
        z-index: 2;
        position: relative;
        width: 100%;
        text-align: center;
      }
    }
  }

  &__svg-line {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    left: 0;
    top: 15rem;
    
    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }

    path {
      fill: none;
      stroke: color('white');
      stroke-opacity: 0.3;
      d: path('M 1372.5 2.50007 C 1372.5 2.50007 1440 -15.4998 1265 58.4473 C 1090 132.394 977.5 26.2461 923.499 44.5001 C 878.826 59.6006 827.999 135.714 668.999 33.4998 C 509.999 -68.7146 391.5 170.589 292 49 C 192.5 -72.5892 142 130.166 5.49988 33.4998 C -131 -63.1663 -243.268 133.516 -334 105.928');
    }

    &--animation {
      path {
        animation: ANIMATION_TECH_SVG 20s infinite;
        animation-direction: alternate;
      }
    }
  }
}

@keyframes ANIMATION_TECH_SVG {
  0% {
    d: path('M 1372.5 2.50007 C 1372.5 2.50007 1440 -15.4998 1265 58.4473 C 1090 132.394 977.5 26.2461 923.499 44.5001 C 878.826 59.6006 827.999 135.714 668.999 33.4998 C 509.999 -68.7146 391.5 170.589 292 49 C 192.5 -72.5892 142 130.166 5.49988 33.4998 C -131 -63.1663 -243.268 133.516 -334 105.928');
  }

  100% {
    d: path('M 1522.5 14.5001 C 1522.5 14.5001 1420 150.501 1265 58.4473 C 1110 -33.606 986.172 127.4 929.499 74.5001 C 872.826 21.6006 897.999 -10.2858 750.999 67.4998 C 603.999 145.285 565.5 -15.411 418 67 C 270.5 149.411 136 0.166 11.4999 87.4998 C -113 174.834 -243.268 133.516 -334 105.928');
  }
}

@keyframes ANIMATION_CIRCLE_BG {
  0%,
  30%,
  60%,
  100% {
    transform: translateX(0) translateY(0) scale(1);
  }

  10%,
  40%,
  70% {
    transform: translateX(-100%) translateY(200%) scale(1.5);
  }

  20%,
  50%,
  80% {
    transform: translateX(100%) translateY(100%) scale(0.75);
  }
}
