html {
  font-size: 10px;

  @include desctop() {
    font-size: maket('desctop');
  }

  @include tablet() {
    font-size: maket('tablet');
  }

  @include mobile() {
    font-size: maket('mobile');
  }
}
