.btn {
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding: 1.2rem 2rem;
  border: none;
  outline: none;
  border-radius: 5rem;
  font-size: 1.4rem;
  line-height: 1;
  color: color('white');
  background-color: color('primary');
  cursor: pointer;
  transition: all 250ms ease-out;

  @include tablet {
    font-size: 1rem;
    padding: 0.9rem 1.6rem;    
  }

  &:disabled {
	opacity: 0.4;

  	span {
  	  width: calc(100% + 0.4rem);
  	}
  }

  span {
    position: absolute;
    width: 0;
    top: -0.2rem;
    bottom: -0.2rem;
    left: -0.2rem;
    right: -0.2rem;
    overflow: hidden;
    transition: all 350ms ease-out;
  }

  &--gradient {
    background: transparent;
    border: 0.2rem solid color('primary');

    span {
      width: calc(100% + 0.4rem);
    }

    span::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 1.4rem 2.2rem;
      color: color('white');
      overflow: hidden;
      white-space: nowrap;
      background: linear-gradient(105.8deg, #c4c4c4 -1.95%, #c4c4c4 -1.95%, #0fbf9c -1.94%, #38acbd 100%);
      border-radius: 5rem;

      @include tablet {
        padding: 1.1rem 1.8rem;    
      }
    }

    &:hover {
      span {
        width: 0;
      }
    }

    &--lighte {
      color: color('black');
    }
  }

  &--transparent {
    background: transparent;
    border: 0.2rem solid color('primary');

    span::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 1.4rem 2.2rem;
      color: color('black');
      overflow: hidden;
      white-space: nowrap;
      background: linear-gradient(105.8deg, #c4c4c4 -1.95%, #c4c4c4 -1.95%, #0fbf9c -1.94%, #38acbd 100%);
      border-radius: 5rem;

      @include tablet {
        padding: 1.1rem 1.8rem;    
      }
    }

    &:hover {
      span {
        width: calc(100% + 0.4rem);
      }
    }
  }

  &--small {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
    border-radius: 0.3rem;
    color: color('black');

    span::before {
      border-radius: 0.3rem;
      padding: 0.7rem 1.2rem;
    }
  }

  &--black {
    color: color('black');
  }
}

