.advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @include mobile {
    display: none; 
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 3.5rem;

    @include tablet {
      margin: 0 2rem;  
    }
  }

  &__img {
    width: 5.3rem;
    height: 5.3rem;
    margin-right: 1.7rem;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include tablet {
      width: 4rem;
      height: 4rem;
    }
  }

  &__text {
    font-size: 1.3rem;
    line-height: 2rem;
    color: color('white');


    @include tablet {
      font-size: 1rem;
      line-height: 1.5rem;
      min-width: 13rem;
    }
  }
}
