.blog-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 1rem;
  background-color: color('white');
  opacity: 0.5;
  overflow: hidden;
  transition: all 1s ease-out;

  &_active {
    opacity: 1;
  }

  &_shadow {
	  box-shadow: 0px 0px 5px lighten(color('black'), 60);
  }

  &__title {
    display: block;
    font-size: 1.4rem;
    line-height: 2rem;
    height: 4rem;
    overflow: hidden;
    margin-bottom: 2rem;
    color: color('black');
    text-decoration: none;

    @include tablet {
      font-size: 1.2rem;
    }
  }

  &__content {
    padding: 2.7rem 2.2rem 2rem;
    height: auto;

    @include tablet {
      padding: 2rem 2.2rem 2rem;
    }
  }

  &__img {
    height: 21.4rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__desc {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }

  &__date {
    font-size: 1.1rem;
    line-height: 1.8rem;
    opacity: 0.5;
    margin-left: 2rem;
  }
}
