.blog-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__item {
    width: 3.1rem;
    height: 0.4rem;
    background-color: color('lightgray');
    margin-right: 0.8rem;
    border-radius: 0.2rem;
    cursor: pointer;

    &_active {
      background-color: color('primary');
    }
  }
}
