.blog-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;

  &__sidebar {
    width: 35.8rem;
    flex-shrink: 0;

    @include tablet {
      width: 22rem;
    }
  }

  &__main {
    padding: 6.3rem 7rem 4.5rem 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;

    @include mobile {
      padding: 5rem 2rem;
    }
  }

  &__title {
    font-size: 3rem;
    line-height: 4.3rem;
    margin-bottom: 3rem;

    @include tablet {
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 2rem;
    }

    sup {
      font-size: 1.1rem;
      line-height: 2.2rem;
      vertical-align: super;
    }
  }

  &__description {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5.3rem;
  }

  &__reports {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  &__item {
    @include desctop {
      margin: 0 3rem 3rem 0;
      width: calc(100% / 3 - 3rem * (3 - 1) / 3);

      &:nth-of-type(3n+3) {
        margin-right: 0;
      }
    }

    @include tablet {
      margin: 0 3rem 3rem 0;
      width: calc(100% / 2 - 3rem * (2 - 1) / 2);

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    @include mobile {
      margin: 0 3rem 3rem 0;
      width: calc(100% / 1 - 3rem * (1 - 1) / 1);

      &:nth-of-type(1n) {
        margin-right: 0;
      }
    }
  }
}
