.data {
	display: none;
}
.calc {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	box-shadow: 7px 2px 18px rgba(0, 0, 0, 0.25);
	margin-bottom: 10rem;
	background-color: color('white');
	height: 75rem;

	&__sidebar {
		padding: 6rem 6rem 6rem 8rem;
		background-color: color('mediumgray');
		min-width: 46rem;
	}

	&__content {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		height: 100%;
	}
	
	&__list {
		overflow-y: auto;
		height: calc(100% - 19rem);
		width: 100%;
		flex-basis: 100%;
		padding: 6rem 8rem 2rem 3.6rem;
		direction: rtl;

		&::-webkit-scrollbar {
			width: 0.5rem;
		}
		
		/* Track */
		&::-webkit-scrollbar-track {
			background: color('white');
		}
		
		/* Handle */
		&::-webkit-scrollbar-thumb {
			border-left: 0.2rem solid color('white');
			border-radius: 0.2rem;
			background: linear-gradient(143.49deg, #C4C4C4 -1.95%, #C4C4C4 -1.95%, #0FBF9C -1.94%, #38ACBD 100%);
		}
		
		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: color('white');
		}
	}
	
	&__summ {
		height: 19rem;
		border-top: 0.1rem solid lighten(color('black'), 90);
		margin-top: auto;
		width: 100%;
		flex-basis: 100%;
		padding: 3.4rem 8rem 3.5rem 3.6rem;
	}
}