.categories {
	height: 100%;
	color: black;

	&__item {
		font-style: normal;
		font-weight: 300;
		line-height: 1.7rem;
		font-size: 1.2rem;
		color: color('black');
		margin-bottom: 2rem;
		cursor: pointer;
		position: relative;
		padding: 0.5rem 1.5rem;
		width: fit-content;

		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}

		&_active {
			color: color('white');
			background: linear-gradient(103.58deg, #C4C4C4 -1.95%, #C4C4C4 -1.95%, #0FBF9C -1.94%, #38ACBD 100%);
			border-radius: 50px;
		}
	}
}