.company-info {
  text-align: right;

  @include mobile {
    margin-top: 2rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__tel {
    display: block;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0.8rem;
    font-size: 1.8rem;
    color: color('white');
    text-decoration: none;

    @include tablet {
      font-size: 1.4rem;
    }
  }

  &__shedule {
    font-weight: 300;
    line-height: 1;
    font-size: 1.3rem;
    color: color('white');

    @include tablet {
      font-size: 1rem;
    }
  }
}
