.course {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include mobile {
    flex-direction: column;
  }

  &__text {
    padding: 6.2rem 16rem 6.2rem 8.5rem;
    border: 0.3rem solid color('primary');
    max-width: 79rem;
    transition: all 750ms ease-out;
    transform: scale(0);

    @include tablet {
      padding: 3rem 7rem 3rem 2.5rem;
      max-width: 40rem;
    }

    @include mobile {
      padding: 2rem;
      max-width: 100%;
      transform: scale(1);
      margin-bottom: 0.5rem;
    }
  }

  &__img {
    flex-shrink: 0;
    z-index: 10;
    width: 48rem;
    height: 39rem;
    line-height: 0;
    box-shadow: 0 0 1.5rem color('darkgray');
    position: relative;
    left: calc(-50% + 24rem);
    transition: all 750ms ease-out;

    @include tablet {
      width: 27rem;
      height: 19rem;
      left: calc(-50% + 13rem);
	}
	
	@include mobile {
		left: 0;
	}

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:nth-child(2n+1) {
    .course__img {
      left: calc(50% - 24rem);

      @include tablet {
        left: calc(50% - 13rem);
	  }
	  
	  @include mobile {
		  left: 0;
	  }
    }
    .course__text {
      order: 2;
      padding: 6.2rem 8.5rem 6.2rem 16rem;

      @include tablet {
        padding: 3rem 2.5rem 3rem 7rem;
      }

      @include mobile {
        order: 0;
        padding: 2rem;
      }
    }
  }

  &__title {
    font-size: 2.8rem;
    line-height: 4.2rem;

    @include tablet {
      font-size: 1.6rem;
      line-height: 2.5rem;
    }
  }

  &__list,
  ul {
    margin-top: 2.5rem;
    margin-bottom: 9rem;
    padding-left: 0;

    @include tablet {
      margin-bottom: 2rem;
    }

    @include mobile {
      margin-top: 1.5rem;
    }
  }

  &__list {
	  & > * {
		  font-size: 1.4rem;
	  }
  }

  &__info {
	  margin-top: 2.5rem;
	  margin-bottom: 3.2rem;
	  
    & * {
  		font-weight: 300;
  		line-height: 2.3rem;
  		font-size: 1.4rem;
	  }

    p + p {
      margin-top: 1.5rem;
    }
  }

  &__item {
    font-size: 1.4rem;
    line-height: 3rem;
    list-style-type: none;
  
    @include tablet {
      font-size: 1rem;
      line-height: 2rem;
    }

    &::before {
      content: '- ';
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include mobile {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__btn {
  	margin-right: 3rem;

    @include tablet {
      margin-right: 2rem;
    }

    @include mobile {
      margin-right: 0;
      align-self: center;
    }
  	
  	&_protez {
  		font-size: 1.2rem;
  	}
  }

  &__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 4rem;

    @include tablet {
      margin-right: 2rem;
    }

    @include mobile {
      margin-bottom: 1rem;
    }

    &:last-child {
      margin-right: 0;
    }

    svg {
      margin-right: 1.4rem;
      width: 2.7rem;
      height: 2.7rem;

      @include tablet {
        margin-right: 1rem;
        width: 1.7rem;
        height: 1.7rem;
      }
  	}
	
    p {
      line-height: 2.8rem;
  	  font-size: 1.5rem;
  	  color: color('black');

      @include tablet {
        font-size: 1rem;
        line-height: 1.2rem;
      }
	  
  	  span {
  		  font-weight: 100;
  		  font-size: 0.7em;
  		  color: lighten(color('black'), 20);
  	  }
    }
  }

  &_show {
    .course__text {
      transform: scale(1);
    }

    .course__img {
      left: 0;
      margin-left: -7.3rem;

      @include tablet {
        margin-left: -3rem;
      }

      @include mobile {
        margin-left: 0;
      }
    }

    &:nth-child(2n+1) {
      .course__img {
        margin-right: -7.3rem;
        left: 0;

        @include tablet {
          margin-right: -3rem;
        }

        @include mobile {
          margin-right: 0;
        }
      }
    }
  }
}
