.dots {
  display: flex;
  flex-direction: column;
  color: color('primary');

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: 4rem;
    max-height: 4rem;
    transition: all 1000ms ease-out;

    p {
      opacity: 0;
    }

    &::before,
    &::after {
      content: '';
      width: 1px;
      background-color: color('primary');
      position: absolute;
      transform: translateX(50%);
      right: 50%;
      transition: all 1000ms ease-out;
    }

    &::before {
      top: 1.1rem;
      height: 2rem;
    }

    &::after {
      bottom: 0;
      height: 0.9rem;
    }

    &:nth-last-of-type(1) {
      &::before,
      &::after {
        display: none;
      }
    }

    &--active {
      max-height: 35rem;

      &::after {
        height: 2.5rem;
      }

      p {
        opacity: 1;
      }
    }
  }

  &__dot {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
	background-color: currentColor;
	position: absolute;
  }

  &__name {
    display: inline-block;
    color: rgba(color('black'), 0.9);
    font-size: 1.2rem;
    line-height: 1;
    white-space: nowrap;
    margin-top: 3.6rem;
    margin-bottom: 3rem;
    transition: all 1000ms ease-out;
    position: relative;
    writing-mode: vertical-lr;
  }
}
