.examples-gallery {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  &__slide {
    // box-shadow: 0 0 2rem color('darkgray');
    width: 100%;
    flex-shrink: 0;
    align-content: flex-start;
    transition: all 400ms ease-out;

    @include grid(7, 0, 5);
  }

  &__img {
    width: 10rem;
    height: 10rem;
    transition: all 250ms ease-out;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 2rem color('black');
      z-index: 10;
      // transform: scale(1.2);
    }
  }

  &__navs {
    margin: 2rem 4.3rem 2rem 0;
    width: 8.2rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      margin: 0 0 2rem;
    }
  }

  &__nav-link {
    padding: 0;
    border: none;
    background: none;
    width: 1.5rem;
    height: 4.2rem;
    color: color('primary');
    line-height: 0;
    cursor: pointer;
    outline: none;

    &--disabled {
      cursor: default;
      color: color('lightgray');
    }

    &--left {
      transform: rotate(180deg);
    }
  }

  &__nav-info {
    white-space: nowrap;
    color: rgba(color('black'), 0.38);
    font-size: 1.3rem;
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(color('black'), 0.75);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease-out;
  }

  &__modal-img {
    max-width: 80vw;
    max-height: 80vh;
  }

  &__modal-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: rgba(color('black'), 0.4);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3rem;
    transition: all 250ms ease-out;

    &::before,
    &::after {
      content: '';
      width: 2px;
      height: 3rem;
      background-color: rgba(color('white'), 0.6);
      position: absolute;
      top: calc(50% - 1.5rem);
      left: calc(50% - 1px);
      transform-origin: center;
      transition: all 250ms ease-out;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      background-color: color('black');

      &::before,
      &::after {
        background-color: color('white');
      }
    }
  }

  &__modal-nav {
    position: absolute;
    top: calc(50% - 1.5rem);
    background-color: rgba(color('black'), 0.4);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3rem;
    transition: all 250ms ease-out;

    &::before,
    &::after {
      content: '';
      width: 1.75rem;
      height: 2px;
      background-color: rgba(color('white'), 0.6);
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 0.875rem);
      transition: all 250ms ease-out;
    }

    &::before {
      transform: rotate(30deg);
    }

    &::after {
      transform: rotate(-30deg);
    }

    &:hover {
      background-color: color('black');

      &::before,
      &::after {
        background-color: color('white');
      }
    }

    &--prev {
      left: 2rem;

      &::before,
      &::after {
        transform-origin: left;
      }
    }

    &--next {
      right: 2rem;

      &::before,
      &::after {
        transform-origin: right;
      }
    }
  }
}
