.footer-company {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__text {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-right: 2.5rem;
    color: color('white');
  }

  &__social {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      margin-right: 1.7rem;

      &:last-child {
        margin-right: 0;
      }
    }

    svg {
      width: 1.6rem;
      opacity: 0.5;
      transition: all 250ms ease-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}
