.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: color('white');
    text-decoration: none;

    & + & {
      margin-left: 1rem;

      @include mobile {
        margin-left: 0;
      }
    }
  }
}
