.form {

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    display: block;
    margin-bottom: 2.5rem;
    padding: 1.2rem 2rem;
    border: 0.1rem solid darken(color('lightgray'), 20%);
    border-radius: 5rem;
    outline: none;
    font-size: 1.4rem;
    line-height: 1;
    color: color('black');
    box-shadow: 0 0 0.5rem rgba(color('primary'), 0);
    transition: all 250ms ease-out;

    @include tablet {
      font-size: 1rem;
    }

    &:focus {
      box-shadow: 0 0 0.5rem color('primary');
    }
  }

  &__btn {
    margin-top: 3.6rem;

    @include tablet {
      margin-top: 0;
    }
  }

  &__policy {
    color: darken(color('lightgray'), 20%);
    font-size: 1rem;
    line-height: 1.7rem;
    margin-top: 3.8rem;

    @include tablet {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    a {
      color: darken(color('lightgray'), 20%);
    }
  }
}
