.header {
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: url(../images/bg_main.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 2.7rem 8rem 3.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    padding: 2rem;
    background-attachment: scroll;
  }

  &__social {
    position: fixed;
    z-index: 10;
    top: 12.3rem;
    left: 2.7rem;
  }

  &__dots {
    position: fixed;
    z-index: 10;
    top: 14.3rem;
    right: 2.6rem;
  }

  &__advantages {
    margin: 0 6.5rem;
    
    @include tablet {
      margin: 0;  
    }
  }

  &__info {
    margin: 7rem 0;
  }

  &__navbar {
    width: 100%;
  }

  &--no-full {
    min-height: unset;
  }
}
