.info {
  &__title,
  &__subtitle {
    text-align: center;
    color: color('white');
  }

  &__title {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 3rem;
    font-weight: normal;

    @include tablet {
      font-size: 2.5rem;   
    }

    @include mobile {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-size: 2.2rem;
    line-height: 1;
    margin-bottom: 7rem;
    font-weight: 300;

    span {
      text-decoration: underline;
    }

    @include tablet {
      font-size: 1.6rem;
    }

    @include mobile {
      font-size: 1.2rem;
      line-height: 1.7rem;
      margin-bottom: 4rem;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include mobile {
      flex-wrap: wrap;
    }

    & > * {
      margin: 0 1.1rem;

      @include mobile {
        margin: 1.1rem 0;
      }
    }
  }
}
