.menu {
  &__gamburger {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2.2rem;

    span {
      display: block;
      position: relative;
      height: 0.25rem;
      width: 3rem;
      border-radius: 5rem;
      color: color('primary');
      background-color: currentColor;
      transition: all 400ms ease-out;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.25rem;
        border-radius: 5rem;
        background-color: currentColor;
        transition: all 400ms ease-out;
      }

      &::before {
        top: -0.65rem;
        transform-origin: left;
      }

      &::after {
        bottom: -0.65rem;
        transform-origin: left;
      }
    }

    &--active span {
      background-color: transparent;

      &::before {
        top: -1.025rem;
        transform: rotate(45deg);
      }

      &::after {
        bottom: -1.025rem;
        transform: rotate(-45deg);
      }
    }
  }

  &__drop {
    position: absolute;
    top: 100%;
    right: 0.6rem;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 400ms ease-out;

    @include mobile {
      top: calc(100% - 3rem);
    }

    &--active {
      max-height: calc(100vh - 8rem);
      opacity: 1;
    }
  }

  &__list {
    position: relative;
    background-color: color('white');
    padding: 3rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    list-style-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2338C2B0'%2F%3E%3C%2Fsvg%3E");

    @include tablet {
      padding: 1.5rem;
    }

    &::before {
      content: '';
      border: 1rem solid transparent;
      border-bottom: 1rem solid color('white');
      position: absolute;
      bottom: 100%;
      right: 2.7rem;
    }

    li {
      padding-left: 1rem;
    }

    li + li {
      margin-top: 1.25rem;
    }

    a {
      text-decoration: none;
      color: color('black');
      font-size: 1.3rem;
      font-weight: 300;
    }

    @include tablet {
      font-size: 1.1rem;
    }
  }
}
