.modal-form {
  background-color: color('white');
  width: 60.8rem;
  height: 60.8rem;
  border-radius: 50%;
  border: 1.7rem solid color('lightgreen');
  padding: 10rem 10rem 0;
  position: relative;
  max-width: 104rem;
  margin: 10rem auto;

  @include mobile {
    width: 30rem;
    border-radius: 2.5rem;
    padding: 2rem;
    border: none;
    margin: 5rem auto;
    height: auto;
  }

  &::before {
    pointer-events: none;
    z-index: 105;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 72.4rem;
    height: 72.4rem;
    background-color: transparent;
    border-radius: 50%;
    border: 0.4rem solid color('lightgreen');

    @include mobile {
      display: none;
    }
  }

  &__wrap {
    opacity: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    margin: 0;  
    transition: all 250ms ease-out;
	}

  &__close {
    background: none;
    position: absolute;
    color: color('primary');
    padding: 1.6rem;
    line-height: 0;
    border: 0.4rem solid color('lightgreen');
    border-radius: 50%;
    top: 0;
    right: 0;
    z-index: 200;
    cursor: pointer;
    background-color: color('white');

    svg {
      width: 2rem;
      height: 2rem;
    }

    @include mobile {
      border: none;
      background: none;
    }
  }

  &__title {
    font-size: 2.4rem;
    line-height: 2.5rem;
    margin-bottom: 4.4rem;
    text-align: center;

    @include tablet {
      font-size: 2rem;
    }

    @include mobile {
      font-size: 1.5rem;
    }
  }

  &__input {
    width: 35rem;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      width: 100%;
    }
  }

  &__btn {
    display: block;
    margin: 3.4rem auto 0;
  }

  &__policy {
    margin-top: 5.6rem;
    font-size: 1rem;
    line-height: 1.7rem;
    text-align: center;
    color: lighten(color('darkgray'), 50%);

    @include mobile {
      font-size: 0.8rem;
      margin-top: 3rem;
    }
	
    button {
  		cursor: pointer;
  		text-decoration: underline;
  		background-color: transparent;
  		border: none;
  		color: lighten(color('darkgray'), 50%);
    }
  }
}