.modal-text {
  position: relative;
  max-width: 104rem;
  margin: 5rem auto;
  background-color: color('white');
  border-radius: 2.5rem;
  padding: 6rem 7.2rem;

  @include tablet {
    padding: 3rem 4rem;
  }

  @include mobile {
    padding: 2rem;
  }

  &__wrap {
    opacity: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    margin: 0;	
    transition: all 250ms ease-out;
	}

  &__close {
    background: none;
    position: absolute;
    color: color('primary');
    padding: 0;
    line-height: 0;
    border: none;
    top: 3rem;
    right: 2.7rem;
    cursor: pointer;
    transition: all 250ms ease-out;
    outline: none;

    &:hover {
      color: color('secondary');
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__content {
    font-size: 1.4rem;
    line-height: 2.3rem;

    @include mobile {
      font-size: 1rem;
      line-height: 2rem;
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: 3.9rem;

      @include mobile {
        margin: 0;
      }
    }

    h2 {
      font-size: 2.4rem;
      line-height: 3.5rem;
      margin-bottom: 1.4rem;
      margin-top: 2rem;

      @include mobile {
        font-size: 1.8rem;
        margin: 1rem 0;
      }
    }

    h3 {
      font-size: 1.8rem;
      line-height: 2.6rem;
      margin-bottom: 1.4rem;
      margin-top: 2rem;

      @include mobile {
        font-size: 1.4rem;
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 2.3rem;
      margin-bottom: 2rem;

      @include mobile {
        font-size: 1rem;
        line-height: 2rem;
      }
    }

    ul,
    ol {
      font-size: 1.4rem;
      line-height: 2.3rem;
      padding-left: 4.5rem;
      margin: 3rem 0;

      @include mobile {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-left: 1rem;
        margin: 1rem 0;
      }
    }

    ol li {
      counter-increment: item;
      list-style-type: none;
      margin-bottom: 1.1rem;

      &::before {
        margin-right: 1.4rem;
        content: counter(item) '.';
        color: color('primary');
      }
    }

    ul li {
      margin-bottom: 1.1rem;
      list-style-type: none;

      @include mobile {
        margin-bottom: 0;
      }

      &::before {
        margin-right: 1.4rem;
        content: '●';
        color: color('primary');
        line-height: 2.3rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
