.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    flex-wrap: wrap;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include mobile {
      display: none;
    }
  }

  &__mobile {
    width: 100%;

    @include desctop {
      display: none;
    }

    @include tablet {
      display: none;
    }

    @include mobile {
      display: block;
    }
  }

  &__first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 30rem;
    height: 5.5rem;
    object-fit: contain;


    @include tablet {
      width: 22rem;
      height: 4.5rem;
    }

    @include mobile {
      width: 18rem;
      height: 3.5rem;
    }
  }

  &__address {
    font-size: 1.3rem;
    line-height: 2rem;
    color: color('white');
    font-weight: 300;
    border-left: 1px solid rgba(color('white'), 0.3);
    padding-left: 3rem;
    margin-left: 3rem;

    @include tablet {
      font-size: 1rem;   
    }

    @include mobile {
      font-size: 1rem;
      margin-left: 0;
      padding-left: 0;
      border: none;
    }
  }
}
