.option {
  position: relative;
  background-color: #fff;
  padding: 2.7rem 4rem;

  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: -0.3rem;
    left: -0.3rem;
    right: -0.3rem;
    bottom: -0.3rem;
    background: linear-gradient(0deg, color('secondary'), color('primary'));
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 300;
    color: color('darkgray');
    margin-bottom: 2rem;
  }

  &__price {
    font-size: 2.2rem;
    line-height: 2.5rem;
    font-weight: 700;
  }
}
