.post-share {
  padding: 2.2rem 3rem;

  &__title {
    font-size: 1.2rem;

    @include tablet {
      text-align: center;
      padding-right: 2rem;
      margin-top: 3rem;
    }
  }

  &__content {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include tablet {
      justify-content: center;
    }
  }

  &__link {
    text-decoration: none;
    margin-right: 2rem;
  }
}
