.post {
  font-size: 1.4rem;
  line-height: 2.3rem;

  @include mobile {
    font-size: 1rem;
    line-height: 2rem;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 3.9rem;

    @include mobile {
      margin: 0;
    }
  }

  h2 {
    font-size: 2.4rem;
    line-height: 3.5rem;
    margin-bottom: 1.4rem;
    margin-top: 2rem;

    @include mobile {
      font-size: 1.8rem;
      margin: 1rem 0;
    }
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 1.4rem;
    margin-top: 2rem;

    @include mobile {
      font-size: 1.4rem;
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 2.3rem;
    margin-bottom: 2rem;

    @include mobile {
      font-size: 1rem;
      line-height: 2rem;
    }
  }

  ul,
  ol {
    font-size: 1.4rem;
    line-height: 2.3rem;
    padding-left: 4.5rem;
    margin: 3rem 0;

    @include mobile {
      font-size: 1rem;
      line-height: 1.5rem;
      padding-left: 1rem;
      margin: 1rem 0;
    }
  }

  ol li {
    counter-increment: item;
    list-style-type: none;
    margin-bottom: 1.1rem;

    &::before {
      margin-right: 1.4rem;
      content: counter(item) '.';
      color: color('primary');
    }
  }

  ul li {
    margin-bottom: 1.1rem;
    list-style-type: none;

    @include mobile {
      margin-bottom: 0;
    }

    &::before {
      margin-right: 1.4rem;
      content: '●';
      color: color('primary');
      line-height: 2.3rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
