.post-sidebar {
  margin-left: 3rem;
  width: 26.7rem;
  flex-shrink: 0;



  &__title {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 2.7rem;

    @include tablet {
      margin-top: 3rem;
    }
  }
}
