.sale-card {
  width: 16rem;
  height: 16rem;
  position: relative;
  // margin-right: 8.7rem;

  &:last-child {
    margin-right: 0;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 14.4rem;

    @include tablet {
      width: 12rem;
    }
  }

  &__text {
    margin-top: 1rem;
    font-size: 1.3rem;
    line-height: 1.7rem;

    @include tablet {
      font-size: 1.1rem;
    }
  }

  &__percent {
    font-size: 3.6rem;

    @include tablet {
      font-size: 3rem;
    }

    span {
      margin-left: 0.5rem;
      font-size: 1.9rem;
      font-weight: 300;
    }
  }
}
