.certificate-slider {
  overflow: hidden;
  user-select: none;
  -webkit-user-drag: none;

  &__outline {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
    transition: all 300ms ease-out;
  }

  &__item {
    margin-right: 2.7rem;
    width: 9.7rem;
    height: 12.1rem;
    opacity: 0.6;
    user-select: none;
    -webkit-user-drag: none;
    flex-shrink: 0;
    box-shadow: 0 0 1rem rgba(color('white'), 0);
    transition: all 250ms ease-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      user-select: none;
      -webkit-user-drag: none;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
      box-shadow: 0 0 1rem rgba(color('white'), 1);
      transform: scale(0.9);
    }
  }
}
