.service-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__link {
    font-size: 1.2rem;
    line-height: 1.25;
    color: color('black');
    padding: 0.7rem 1.3rem;
    display: block;
    text-decoration: underline;
    text-decoration-color: color('black');
  	transition: all 250ms ease-out;
  	background: transparent;
  	border: none;
  	cursor: pointer;

    &:hover {
      text-decoration-color: transparent;
    }

    @include tablet {
      font-size: 1rem;
      padding: 0.5rem 1.3rem;      
    }
  }
}
