.sidebar-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 3.5rem;
  text-decoration: none;
  color: inherit;

  &:last-child {
    margin-bottom: 0;
  }

  &__img {
    width: 7.3rem;
    height: 6.3rem;
    object-fit: cover;
    border-radius: 0.3rem;
  }

  &__text {
    margin-left: 2.8rem;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.2rem;
    line-height: 1.7rem;

    @include tablet {
      font-size: 1.4rem;
    }

     @include tablet {
      font-size: 1.2rem;
    }
  }

  &__date {
    margin-top: auto;
    font-size: 1.1rem;
    line-height: 1.2rem;
    font-weight: 300;
    color: lighten(color('darkgray'), 50%);
  }
}
