.sidebar {
  padding: 6.3rem 0 6.3rem 6.5rem;
  background-color: color('gray');

  @include tablet {
    padding: 5rem 2rem;
  }

  @include mobile {
    position: relative;
    display: none;
    width: 100%;
    min-height: 100vh;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2rem;
    margin: 0 0 1.3rem 1.5rem;
  }

  &__tag-list {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    list-style-type: none;
  }

  &__tag-item {
    border: none;
    outline: none;
    border-radius: 4rem;
    color: color('black');
    background-color: transparent;
    font-weight: 300;
    line-height: 1;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1.4rem;
    white-space: nowrap;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;

    & > * {
      opacity: 0;
      transition: all 0.25s ease-in-out;
    }

    &--active {
      background-color: color('primary');
      color: color('white');

      & > * {
        opacity: 1;
      }
    }
  }

  &__tag-deactive {
    padding-left: 0.7rem;
    color: #fff;
  }

  &__btn-wrap {
    position: relative;
    background-color: #bbb;
    display: none;

    @include mobile {
      display: block;
    }
  }

  &__btn {
    position: sticky;
    top: 50%;
    border: none;
    padding: 0;
    background: none;
    white-space: nowrap;
    margin: 5rem 1rem;
  }

  &__close {
    display: none;
    position: absolute;
    right: 2rem;
    top: 2rem;
    background: none;
    border: none;
    color: color('black');
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;

    @include mobile {
      display: block;
    }
  }
}
