.social {
  @include grid(1, 2rem, 10);

  @include mobile {
    display: none;
  }

  svg {
    width: 2.1rem;
    opacity: 0.5;
    transition: all 250ms ease-out;

    &:hover {
      opacity: 1;
    }
  }

  &--horizontal {
    @include grid(10, 2rem);
  }
}
