.summ {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	&__discount,
	&__content {
		flex: 1 1 100%
	}

	&__content {
		margin-left: 2rem;
		text-align: right;
	}

	&__total {
		display: flex;
		justify-content: flex-start;
		font-weight: bold;
		line-height: 2.5rem;
		font-size: 1.7rem;
		color: color('black');
		margin-bottom: 1.2rem;
	}

	&__final {
		margin-left: auto;
		margin-right: 0.5rem;
	}

	&__skidka {
		margin-bottom: 1rem;
		display: flex;
		justify-content: flex-start;
		font-weight: 300;
		line-height: 1.6rem;
		font-size: 1.1rem;
		color: lighten(color('black'), 40);
	}

	&__submit {
		margin-bottom: 2.4rem;
		margin-left: auto;
	}

	&__politics {
		text-decoration: underline;
		color: lighten(color('black'), 60);
	}

	&__details {
		text-align: center;
		font-weight: 300;
		line-height: 1.7rem;
		font-size: 1rem;
		color: lighten(color('black'), 60);
	}
}