.table {
	border-spacing: 1rem 2.5rem;
	margin-top: -2.5rem;
	width: 100%;
	direction: ltr;

	&__headercell {
		font-weight: 300;
		line-height: 1.7rem;
		font-size: 1.2rem;
		color: lighten(color('black'), 54);
		text-align: left;
	}

	&__cell {
		font-weight: 300;
		line-height: 17px;
		font-size: 12px;
		color: color('black');
	}

	&__minus,
	&__plus {
		display: flex;
		user-select: none;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		width: 1.8rem;
		height: 1.8rem;
		color: color('white');
		border-radius: 50%;
		background: linear-gradient(92.37deg, #C4C4C4 -1.95%, #C4C4C4 -1.95%, #0FBF9C -1.94%, #38ACBD 100%);

		&_disabled {
			background: #EDEDED;;
		}
	}

	&__tbody {
		opacity: 0;
		visibility: collapse;
		display: none;
		transition: opacity 0.5s ease-out;

		&_active {
			opacity: 1;
			visibility: visible;
			//display: contents;
			display: table-row-group;
		}
	}

	&__minus {
		margin-right: 1rem;
	}

	&__plus {
		margin-left: 1rem;
	}

	&__count {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		min-width: 10rem;

		.jCount {
			min-width: 3rem;
			text-align: center;
		}
	}
}