.technology-card {
  color: color('white');

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    color: currentColor;

    @include tablet {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }

  &__text {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-bottom: 1.5rem;
    color: currentColor;

    @include tablet {
      font-size: 1rem;
      line-height: 1.8rem;
    }
  }

  &__link {
    color: color('white');
    text-transform: uppercase;
    text-decoration-color: color('white');
    font-size: 1.2rem;
    transition: all 250ms ease-out;

    &:hover {
      text-decoration-color: transparent;
      cursor: pointer;
    }

    @include tablet {
      font-size: 1rem;
    }
  }

  &::before {
    content: '+';
    width: 3rem;
    height: 3rem;
    margin-bottom: 2rem;
    border: 0.4rem solid color('white');
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    background: linear-gradient(90deg, color('primary'), color('secondary'));

    @include tablet {
      width: 2rem;
      height: 2rem;
      margin-bottom: 1rem;
      border-width: 0.3rem;
      line-height: 0;
      font-size: 1.5rem;
    }
  }
}
