body {
  counter-reset: work_step;
}

.works-card {
  counter-increment: work_step;

  @include mobile {
    text-align: center;
  }

  &__header {
    display: inline-flex;
    background-color: currentColor;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.7rem;
    padding-right: 3rem;
    position: relative;
    z-index: 2;

    @include tablet {
      margin-bottom: 1.5rem;
    }

    &::before {
      content: counter(work_step);
      flex-shrink: 0;
      display: block;
      margin-right: 1.7rem;
      width: 3rem;
      height: 3rem;
      background-color: color('primary');
      border-radius: 50%;
      color: color('white');
      font-size: 1.4rem;
      text-align: center;
      line-height: 3rem;
    }
  }

  &__title {
    font-size: 1.8rem;
    line-height: 1;
    color: color('black');

    @include tablet {
      font-size: 1.4rem;
    }
  }

  &__desc {
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: color('black');

    @include tablet {
      font-size: 1.1rem;
      line-height: 2rem;
    }
  }
}
